---
import { footerLinks, siteConfig } from '@/config/site'
import { cn } from '@/lib/utils'

type Props = {
	className?: string
}

const { className } = Astro.props
---

<div
	class="reveal animate-revealContent mdx-padding grid grid-cols-1 gap-10 pb-20 pt-32 2xl:container sm:grid-cols-2 md:grid-cols-5"
>
	<div
		class="row-start-4 mt-10 flex flex-row justify-between gap-10 text-neutral-100 max-md:order-last sm:col-span-2 md:row-start-auto md:mt-0 md:h-full md:flex-col"
	>
		<a
			href="/"
			aria-label="Navigate to the homepage"
			class="pointer-events-auto flex w-min items-center justify-center"
		>
			<svg
				width="135"
				height="18"
				viewBox="0 0 135 18"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="pointer-events-auto"
			>
				<path
					d="M7.54195 11.48C8.89195 11.48 10.0079 10.94 10.7279 10.13V13.424C9.77395 13.946 8.65795 14.216 7.48795 14.216C3.68995 14.216 0.647949 11.174 0.647949 7.43C0.647949 3.686 3.68995 0.644 7.48795 0.644C8.65795 0.644 9.77395 0.914 10.7279 1.436V4.73C10.0079 3.92 8.89195 3.38 7.54195 3.38C5.27395 3.38 3.52795 5.126 3.52795 7.43C3.52795 9.734 5.27395 11.48 7.54195 11.48ZM16.8784 14.216C14.1784 14.216 11.8924 12.182 11.8924 9.374C11.8924 6.566 14.1784 4.514 16.8784 4.514C19.5964 4.514 21.8824 6.566 21.8824 9.374C21.8824 12.182 19.5964 14.216 16.8784 14.216ZM16.8784 6.926C15.6184 6.926 14.6644 7.934 14.6644 9.374C14.6644 10.796 15.6184 11.804 16.8784 11.804C18.1564 11.804 19.0924 10.796 19.0924 9.374C19.0924 7.934 18.1564 6.926 16.8784 6.926ZM23.4681 0.32H26.2761V14H23.4681V0.32ZM29.8429 0.374C30.7069 0.374 31.4269 1.058 31.4269 1.958C31.4269 2.84 30.7069 3.524 29.8429 3.524H29.8069C28.9249 3.524 28.2229 2.84 28.2229 1.958C28.2229 1.058 28.9249 0.374 29.8069 0.374H29.8429ZM28.4209 4.73H31.2289V14H28.4209V4.73ZM36.1818 8.78V14H33.3737V4.73H36.1818V5.648C36.6858 5 37.5858 4.514 38.7018 4.514C40.8078 4.514 42.0858 5.918 42.0858 8.006V14H39.2598V8.78C39.2598 7.844 38.7378 7.052 37.7298 7.052C36.7398 7.052 36.1818 7.844 36.1818 8.78ZM47.8883 0.860001H52.1722C55.9342 0.860001 58.9403 3.686 58.9403 7.43C58.9403 11.174 55.9342 14 52.1722 14H47.8883V0.860001ZM51.9922 3.236H50.7503V11.624H51.9562C54.4222 11.624 56.0602 9.716 56.0602 7.43C56.0602 5.144 54.4222 3.236 51.9922 3.236ZM59.9961 9.392C59.9961 6.584 62.246 4.514 64.748 4.514C67.988 4.514 69.41 7.034 69.158 10.112H62.6241C62.9301 11.282 64.01 11.912 65.522 11.912C66.53 11.912 67.682 11.57 68.456 11.012V13.406C67.52 13.982 66.26 14.216 65.162 14.216C62.246 14.216 59.9961 12.2 59.9961 9.392ZM64.712 6.746C63.758 6.746 63.002 7.34 62.696 8.33H66.566C66.476 7.574 65.864 6.746 64.712 6.746ZM70.7631 0.32H73.5711V14H70.7631V0.32ZM75.1399 9.392C75.1399 6.584 77.3899 4.514 79.8919 4.514C83.1319 4.514 84.5539 7.034 84.3019 10.112H77.7679C78.0739 11.282 79.1539 11.912 80.6659 11.912C81.6739 11.912 82.8259 11.57 83.5999 11.012V13.406C82.6639 13.982 81.4039 14.216 80.3059 14.216C77.3899 14.216 75.1399 12.2 75.1399 9.392ZM79.8559 6.746C78.9019 6.746 78.1459 7.34 77.8399 8.33H81.7099C81.6199 7.574 81.0079 6.746 79.8559 6.746ZM88.715 8.78V14H85.907V0.32H88.715V5.648C89.219 5 90.119 4.514 91.235 4.514C93.341 4.514 94.619 5.918 94.619 8.006V14H91.793V8.78C91.793 7.844 91.271 7.052 90.263 7.052C89.273 7.052 88.715 7.844 88.715 8.78ZM101.789 14V13.424C101.465 13.784 100.619 14.216 99.5393 14.216C97.6673 14.216 96.0473 13.028 96.0473 11.084C96.0473 9.284 97.6673 8.096 99.6293 8.096C100.565 8.096 101.429 8.438 101.789 8.762V8.366C101.789 7.538 101.069 6.908 99.6833 6.908C98.7473 6.908 97.8653 7.232 97.1273 7.646V5.216C97.8653 4.82 99.0894 4.514 100.313 4.514C102.959 4.514 104.507 5.882 104.507 8.258V14H101.789ZM101.825 11.084C101.825 10.364 101.015 9.968 100.241 9.968C99.4313 9.968 98.6393 10.364 98.6393 11.084C98.6393 11.822 99.4313 12.218 100.241 12.218C101.015 12.218 101.825 11.822 101.825 11.084ZM109.396 8.78V14H106.588V4.73H109.396V5.648C109.9 5 110.8 4.514 111.916 4.514C114.022 4.514 115.3 5.918 115.3 8.006V14H112.474V8.78C112.474 7.844 111.952 7.052 110.944 7.052C109.954 7.052 109.396 7.844 109.396 8.78ZM120.724 10.598C120.724 11.408 121.21 11.804 121.912 11.804C122.398 11.804 122.848 11.642 123.226 11.336V13.82C122.722 14.072 122.02 14.216 121.354 14.216C119.41 14.216 117.916 13.118 117.916 10.904V6.962H116.44V4.73H117.916V2.75L120.724 1.904V4.73H123.046V6.962H120.724V10.598ZM124.556 17.78L127.49 12.38L123.566 4.73H126.608L128.966 9.536L131.324 4.73H134.33L127.472 17.78H124.556Z"
					fill="currentColor"
					class="pointer-events-auto"
				>
				</path>
			</svg>
		</a>
		<p class="text-xs font-normal text-neutral-400">© 2024 Colin Delehanty</p>
	</div>
	<div class="flex flex-col gap-10">
		{
			footerLinks.slice(0, 1).map((section) => (
				<ul class="flex flex-col gap-2">
					<li class="mb-1 font-medium text-neutral-100">
						<a href={section.href}>{section.title}</a>
					</li>
					{section.items &&
						section.items.map((item) => (
							<li>
								<a
									href={item.href}
									class="block w-max text-sm text-neutral-400 transition-colors sm:hover:text-neutral-200"
								>
									{item.title}
								</a>
							</li>
						))}
				</ul>
			))
		}
	</div>
	<div class="flex flex-col gap-10">
		{
			footerLinks.slice(2, 3).map((section) => (
				<ul class="col flex flex-col gap-2">
					<li class="mb-1 font-medium text-neutral-100">{section.title}</li>
					{section.items &&
						section.items.map((item) => (
							<li>
								<a
									target="_blank"
									href={item.href}
									class="block w-max text-sm text-neutral-400 transition-colors sm:hover:text-neutral-200"
								>
									{item.title}
								</a>
							</li>
						))}
				</ul>
			))
		}
	</div>
	<div class="flex flex-col gap-10">
		{
			footerLinks.slice(3, 4).map((section) => (
				<ul class="col flex flex-col gap-2">
					<li class="mb-1 font-medium text-neutral-100">{section.title}</li>
					{section.items &&
						section.items.map((item) => (
							<li>
								<a
									target="_blank"
									href={item.href}
									class="block w-max text-sm text-neutral-400 transition-colors sm:hover:text-neutral-200"
								>
									{item.title}
								</a>
							</li>
						))}
				</ul>
			))
		}
	</div>
</div>
