---
import MainLayout from '@/layouts/main-layout.astro'
import HeaderSection from '@/components/sections/header-section.astro'
import { MdxComponents } from '@/components/content/mdx-components'
import { ClientSection } from '@/features/clients/components/client-section'

const info = await import('@/content/about/info.mdx')

const { title, description, cover } = info.frontmatter
---

<MainLayout title="About" mainClass="">
	<HeaderSection
		title={title}
		description={description}
		primary={{
			text: 'View Resume',
			href: 'https://res.cloudinary.com/dzsswr2ti/image/upload/ColinDelehanty_Resume.pdf'
		}}
		secondary={{
			text: 'colin.delehanty@gmail.com',
			href: 'mailto:colin.delehanty@gmail.com'
		}}
		cover={cover}
		animation={true}
		className="object-bottom"
	/>
	<section class="reveal animate-revealContent relative">
		<info.default components={MdxComponents} />
		<ClientSection client:load />
	</section>
</MainLayout>
